*,
*::after,
*::before {
	margin: 0;
	box-sizing: border-box;
}

:root {
	--black: #0d160b;
	--blue: #57aae0;
	--overlay: #0d160b56;
	--overlayMain: #0d160bc9;
	--red: #bf1e2e;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: white;
	background-color: var(--black);
}

h1 {
	font-size: clamp(2rem, 3vw, 3rem);
	margin-top: 2em;
}

h1,
h2 {
	font-weight: 600;
}

h2,
h3 {
	margin-bottom: 2em;
}

img,
svg {
	max-width: 100%;
	transition: 1s all;
}

svg {
	fill: var(--blue);
}

svg:hover {
	fill: var(--red);
}

ul {
	list-style: none;
	padding: 0;
}

span.blue {
	font-weight: 600;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

header {
	background-image: url('images/MoonBG.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.overlay {
	background-color: var(--overlay);
	height: 100%;
	width: 100%;
}

.blue {
	color: var(--blue);
}

nav {
	text-align: center;
}

.logo img {
	width: clamp(100px, 50vw, 300px);
}

.overlay .container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

main {
	background-image: url('images/galaxy.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.overlay__main {
	background-color: var(--overlayMain);
	height: 100%;
	width: 100%;
	padding: 3em 0;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	align-items: start;
	justify-items: center;
	gap: 5em;
}

.grid + .grid {
	margin-top: 10em;
}

.grid__img {
	overflow: hidden;
	border: solid 4px transparent;
	border-radius: 10px;
	transition: 1s all;
}

.grid__img:hover {
	border: solid 4px var(--red);
}

.grid__img img:hover {
	transform: scale(1.2);
}

.dates {
	margin-top: 10em;
}

.dates h2 {
	text-align: center;
	margin-bottom: 4em;
}

.program {
	margin-top: 4em;
}

footer {
	padding: 3em;
}

.social__icons {
	width: clamp(200px, 40vw, 400px);
	margin: 0 auto;
}

.social__icons ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

li {
	width: clamp(30px, 2vw, 50px);
}

.attribution {
	text-align: center;
	margin-top: 3em;
}

@media screen and (min-width: 900px) {
	.img__left .grid__text {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.img__left .grid__img {
		grid-column: 1/2;
		grid-row: 1/2;
	}
}
